.diceContainer {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.dice {
  text-align: center;
  margin: auto;
  margin-bottom: 1.5rem;
  border: 2px solid black;
  box-shadow: 5px 5px 3px 2px slategrey;
  border-radius: 7px;
  width: 70px;
  height: fit-content;
  user-select: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background-color: rgb(62, 148, 219);
  border: 2px solid rgb(62, 148, 219);
  background-image: linear-gradient(
    109.6deg,
    rgb(62, 148, 219) 11.2%,
    rgb(70, 52, 236) 100.2%
  );

  box-shadow: 4px -4px 0px rgb(62, 148, 219),
    -4px 6px 15px rgba(189, 226, 252, 0.671);
  /* box-shadow: 4px -4px 0px rgb(62, 148, 219), */
  filter: saturate(1.2);
}

.dice:hover {
  filter: saturate(1.5);
  box-shadow: 4px -4px 0px rgb(62, 148, 219), -4px 6px 16px rgb(193, 229, 255);
  transform: rotate(10deg);
  transform: rotate(-10deg);
}

.diceRowContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: auto;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .dice:hover {
    animation: roll infinite 0.2s linear alternate;
  }
}

@keyframes roll {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(-10deg);
  }
}

button {
  border-radius: 2px;
  padding: 4 10px;
  margin: 0.2rem;
  background-color: white;
  box-shadow: -1px 2px 2.3px 1px whitesmoke;
  font-weight: bold;
}
.rollAllButton {
  min-height: 2.5rem;
  min-width: 5.5rem;
}
button:hover {
  cursor: pointer;
  transform: rotateY(30deg);
  transform: translateY(3px);
  background-color: rgb(255, 255, 255);
  box-shadow: inset 3px 3px 5px #b3aeae, inset -2px -2px 5px white;
}

.diceTextBox {
  margin: auto;
  text-align: center;
  max-width: 50vw;
  line-height: 120%;
  display: flex;
  justify-content: center;
}

.activeDiceText {
  word-break: break-all;
  margin-bottom: -5px;
  user-select: none;
  cursor: pointer;
  line-height: 0px;
  height: 0px;
}
.numberOfDiceText {
  line-height: 0px;
  height: 0px;
}
.buttonBox {
  margin-top: 3rem;
  border: 3px solid lime;
}
.sum {
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
  user-select: none;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .diceTextBox {
    font-size: small;
    margin: auto;
    text-align: center;
    max-width: 80vw;
  }

  .activeDiceText {
    word-break: break-all;
  }
}
@media only screen and (min-width: 501px) {
  .diceTextBox {
    font-size: small;
    margin: auto;
    text-align: center;
    max-width: 20vw;
  }

  .activeDiceText {
    word-break: break-all;
  }
}

@media only screen and (min-width: 801px) {
  .diceTextBox {
    margin: auto;
    text-align: center;
    max-width: 50vw;
  }

  .activeDiceText {
    word-break: break-all;
  }
}
