body {
  margin: 0;
  font-family: "Augie", "Consolas", "moon flower", "Trebuchet MS", "Tahoma";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
